body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  height: 100%;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.root {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: 300;
  font-size: 36px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-sub {
  font-weight: 200;
  font-size: 16px;
  margin: 10px 20px 30px;
}

.nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: underline;
}

.floating-nav-fixed {
  z-index: 100;
  position: fixed;
  background-color: white;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 4px 0px;
}

.floating-nav {
  padding: 15px 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.floating-left {
  margin-left: 40px;
}

.floating-right {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.right-margin {
  margin-right: 20px;
}

.floating-right li {
  margin-right: 20px;
  font-size: 14px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px;
}

.section .section-header {
  font-weight: 300;
}

.section .section-text {
  font-weight: 200;
  font-size: 14px;
}

.code-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 4px 0px, rgba(0, 0, 0, 0.12) 0px 4px 4px 0px;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 50px;
  font-family: 'Inconsolata', monospace;
  line-height: 1.4rem;
  font-size: 14px;
  background-color: black;
  color: white;
  white-space: pre-wrap;
  text-align: left;
}

.code-red {
  color: rgba(242, 112, 118, 100);
}

.code-purple {
  color: rgba(200, 143, 236, 100);
}

.example-root {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.example-toggle {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  margin: 0 0 20px;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid black;
  transition: background-color 0.15s ease;
  cursor: pointer;
}

.example-toggle:hover,
.example-toggle:active {
  background-color: rgba(113, 129, 141, 0.15);
}

.example-content {
  text-align: center;
  background: rgba(105, 162, 176, 0.4);
  padding: 20px;
  border-radius: 10px;
}

.example-animate {
  text-align: center;
  background: rgba(255, 202, 177, 0.4);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.example-animate-2 {
  text-align: center;
  background: rgba(255, 202, 177, 0.4);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(224, 197, 241, 100);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 4px 0px, rgba(0, 0, 0, 0.12) 0px 4px 4px 0px;

}

.floating {
  top: -125px;
  width: 100%;
  position: absolute;
  z-index: 10;
}
